
  <header>
  <div class="container"> 
    <div class="jumbotron myBackground">
      <h1 class="whitney">Kronofil</h1>
   <p>Un voyage dans le temps et l'espace</p>
      <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </div>
</header>


<hr id="about" class="featurette-divider">



<div class="row">
  <div class="featurette" >
    <img class="featurette-image img-circle img-responsive pull-right" src="<%= asset_path('laine2.jpg') %>" >
    <h2 class="featurette-heading">Déroulez les fils du temps... 
      <span class="text-muted">démêlez les noeuds des fils</span>
    </h2>
    <p class="lead"> L'idée originelle du projet KRONOFIL émerge d'un désir de pouvoir contextualiser dans l'espace et le temps une généalogie. Plus généralement, on peut faire le constat trivial suivant : la bonne compréhension des évènements historiques ou généalogiques nécéssite l'observation d'un contexte global dans lequel ils se déroulent. Une chronologie est finalement, à l'image d'une pelote de laine...au milieu d'autre pelotes : dans un joyeux mélange, parfois entremêlées, souvent reliées par un lien de causalité dans l'espace et le temps. Venez ici tirer ces fils...tirer vos fils..les uns à côté des autres</p>

    <a class="btn btn-lg btn-info" href="#summary">Dérouler</a>
  </div>

</div>

<hr class="featurette-divider" id="summary">