html,
body {
    height: 100%;
}

body {
	margin-top: 200px;
    /*padding-top: 30px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


header {
  width: 100%;
  background: image-url("aito.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#myBackground {
  padding: 20px 20px;
  margin: 8%;
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}

#myBackground h1{
    margin : 0;
    /*margin-top: 0;
    margin-bottom: 0;*/
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;

}

#custom-search-input{
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
   /* background-color: #fff;*/
    background-color: rgba(255,255,255, 0.5); 
}

#custom-search-input input{
    border: 0;
    box-shadow: none;

}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.fixed-panel {
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
}