
<form action="/search" accept-charset="UTF-8" method="get">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" name="search" id="search" class="form-control input-lg" placeholder="Rechercher" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</form>